div.container4 {
    height: 10em;
    position: relative }

    div.container6 {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center }
      div.container6 p {
        margin: 0 }

        div.horizontalgap {
          float: left;
          overflow: hidden;
          height: 1px;
          width: 0px;
        }